################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/AzureFunctions/bin
/AzureFunctions/obj
/AzureFunctions/Properties/PublishProfiles
